<?php

/**
 * @file
 * Drupal site-specific configuration file.
 */

// Database.
$databases['default']['default'] = array(
  'database' => '{{ drupal_db_name }}',
  'username' => '{{ drupal_db_username }}',
  'password' => '{{ drupal_db_password }}',
  'host' => '{{ groups.database[0] }}',
  'port' => '3306',
  'namespace' => 'Drupal\\Core\\Database\\Driver\\mysql',
  'driver' => 'mysql',
);

# Configuration management settings.
$config_directories['active'] = 'sites/default/config/active';
$config_directories['staging'] = 'sites/default/config/staging';

// General settings.
$settings['install_profile'] = '{{ drupal_install_profile }}';
$settings['hash_salt'] = '{{ drupal_hash_salt }}';
$settings['update_free_access'] = FALSE;

// Reverse proxy settings.
$settings['reverse_proxy'] = TRUE;
$settings['reverse_proxy_addresses'] = array('{{ groups.balancer[0] }}');
$settings['reverse_proxy_header'] = 'X-Forwarded-For';

// Caching settings.
$settings['omit_vary_cookie'] = TRUE;

// Base URL.
// $base_url = 'http://{{ site_url }}';  // NO trailing slash!

// Trusted host settings.
$settings['trusted_host_patterns'] = array(
  '^www\.pidramble\.com$',
);

// Fast 404 configuration.
$config['system.performance']['fast_404']['exclude_paths'] = '/\/(?:styles)\//';
$config['system.performance']['fast_404']['paths'] = '/\.(?:txt|png|gif|jpe?g|css|js|ico|swf|flv|cgi|bat|pl|dll|exe|asp)$/i';
$config['system.performance']['fast_404']['html'] = '<!DOCTYPE html><html><head><title>404 Not Found</title></head><body><h1>Not Found</h1><p>The requested URL "@path" was not found on this server.</p></body></html>';

// Load services definition file.
$settings['container_yamls'][] = __DIR__ . '/services.yml';

// Local settings files.
if (file_exists(__DIR__ . '/settings.local.php')) {
  include __DIR__ . '/settings.local.php';
}
