127.0.0.1 localhost
::1   localhost ip6-localhost ip6-loopback
fe00::0   ip6-localnet
ff00::0   ip6-mcastprefix
ff02::1   ip6-allnodes
ff02::2   ip6-allrouters

127.0.1.1 {{ dramble_hostname }}

10.0.100.61 kube1 kube1.pidramble.com
10.0.100.62 kube2 kube2.pidramble.com
10.0.100.63 kube3 kube3.pidramble.com
10.0.100.64 kube4 kube4.pidramble.com
10.0.100.65 kube5 kube5.pidramble.com
