# Add $drupal_logged_in variable.
map $http_cookie $drupal_logged_in {
    default 0;
    ~SESS 1;
}

# Redirect to www.
server {
    listen       80;
    server_name  {{ site_url }};
    return       301 http://www.{{ site_url }}$request_uri;
}

# Dramble Drupal 8 server configuration.
server {
    listen 80 default_server;
    server_name www.{{ site_url }};

    access_log {{ nginx_access_log }};

    # Enable proxy cache and specify cache key.
    proxy_cache cache;
    set $cache_key $scheme$host$uri$is_args$args;

    # Gzip saves bandwidth, but hurts on servers with slower CPU.
    # See: https://github.com/geerlingguy/raspberry-pi-dramble/issues/26
    gzip on;
    gzip_static on;
    gzip_min_length 1400;
    gzip_comp_level 1;
    gzip_proxied expired no-cache no-store private auth;
    gzip_types text/plain text/css text/xml text/javascript application/x-javascript application/xml;
    gzip_disable "MSIE [1-6]\.";

    port_in_redirect off;

    location / {
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_pass http://dramble;
        add_header X-Proxy-Cache $upstream_cache_status;

        # Proxy cache configuration.
        proxy_cache_bypass $drupal_logged_in; # Consider re-adding $http_cache_control (was causing BYPASS).
        proxy_no_cache $drupal_logged_in $arg_nocache$arg_page;
        proxy_cache_use_stale error timeout invalid_header updating http_500 http_502 http_503 http_504;
    }
}

# Munin server configuration.
server {
    listen 80;
    server_name munin.{{ site_url }};
    root /var/cache/munin/www;
    access_log off; # Save a ton of precious disk I/O.
}

# Git repository server configuration.
server {
    listen 80;
    server_name git.{{ site_url }};
    root /opt/git;
    access_log off; # Save a ton of precious disk I/O.
}
